<div class="container">
  <div class="centered-wrapper">
    <div class="button-wrapper">
      <button
        class="button"
        [disabled]="disableAddUserButton"
        (click)="toggleUsersComponent()"
      >
        Add user
      </button>
    </div>

    <app-users *ngIf="showUsersComponent"> </app-users>

    <div class="button-wrapper">
      <button
        class="button"
        [disabled]="disableAddBookingButton"
        (click)="toggleComponent()"
      >
        Add booking
      </button>
    </div>

    <app-booking *ngIf="showComponent"></app-booking>
  </div>
  <br />
  <br />
  <app-calendar></app-calendar>
</div>
